@{
    ViewData["Title"] = "Access denied";
}

    <link href="~/css/forgot_password.css" rel="stylesheet" type="text/css" />

    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">You do not have access to this resource.  </p>
        <p class="text-danger">Please contact the exam admins for further assistance.</p>
    </header>
