@using System.Linq
@using ExamMongoDB.Identity
@using Microsoft.AspNetCore.Identity
@model ExamMongoDB.Identity.AccountViewModels.LoginViewModel
@inject SignInManager<Student> SignInManager

@{
    ViewData["Title"] = "Log in";
}
    <link href="~/css/login_style.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="card-title text-center" style="font-weight:bold">Log In</h1>
                    

                    <img id="logo" src="~/images/logo1.png" alt="Logo" height="150" width="200" />

                    <form class="form-signin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div> 

                        <div class="form-label-group">
                            <label asp-for="Username">Username</label>
                            <input asp-for="Username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                            <span asp-validation-for="Username" class="text-danger"></span>

                        </div>

                        <div class="form-label-group">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>



                        <div id="rememberme" class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                        <button id="login" class="btn btn-lg btn-primary  btn-block text-uppercase btn-outline-info " type="submit">Log in</button>

                        <hr class="my-4">


                        <p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">New user?</a>
                        </p>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

