:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

h1 {
    font-weight:bold;
}

body {
    
    /*background-image: url(https://images.unsplash.com/photo-1521080755838-d2311117f767?ixlib=rb-1.2.1&auto=format&fit=crop&w=1429&q=80);*/
    background-image: url(https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
}

/*box for login*/
.card-signin {
    /*background: linear-gradient(to right, #98D1F7, #33AEFF);*/
    /*background: linear-gradient(to right, #3AD6BB, #15B095);*/

    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#login {
    margin-top: 3em;
    background-color: #3ED5BB;
}

#reg {
    margin-top: 3em;
    background-color: #3ED5BB;
}
.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

    .card-signin .card-body {
        padding: 2rem;
    }

.form-signin {
    width: 100%;
}

    .form-signin .btn {
        font-size: 80%;
       
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
        /*background:black;*/
        /*#B3DAF0*/
    }

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group input {
        height: auto;
        border-radius: 2rem;
    }

    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    #logo {
        margin-left:5rem;
        margin-right:5rem;
    }
#reg {
    margin-top: 4rem;
    letter-spacing: .1rem;
    font-size: 80%;
}

#savechanges {
    margin-top: 4rem;
}

#updatepassword {
    margin-top: 4rem;
}

#resetpassword {
    border-radius: 5rem;
    letter-spacing: .1rem;
}


 

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}